<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>完了画面</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <header class="header">
        <div class="logout-wrapper">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="logout-btn">ログアウト</button>
            </form>
        </div>
    </header>

    <div class="container complete-container">

        <h2>完了</h2>

        <p class="complete-message" th:text="${msg}">
            完了しました。
        </p>

        <a th:href="@{/mt-top}" class="btn-secondary">
            トップ画面に戻る
        </a>

    </div>

</body>

</html>